/*Fondo de color*/
.root{
	-fx-background-color:#28d4ec;
}

/* Labels */
.label{
	-fx-font-weight:bold;
}

/* Esquinas redondeadas para Botones y TextFields */
.button, .text-field{
	-fx-background-radius:50px;
}

/* Fondo botones */
.button{
	-fx-font-weight:bold;
}

.button:hover{
	-fx-text-fill:white;
	-fx-background-color:black;
}

.button:hover .icono{
	-fx-fill:white;
}

/* Fondo Caja CheckBox */
.checkBox:selected .box{
	-fx-background-color: blue;
}

.checkBox:selected .mark {
    -fx-background-color: white;
}